<button enabled="enable" data-toggle="tooltip" data-placement="left" title="Create model" class="tool">
    <i class="fa fa-3x fa-play" aria-hidden="true"></i>
</button>

<form>

    <ul class="nav nav-tabs">
	<li><h4 style="">Model</h4></li>
    <li class="pull-right"><a data-toggle="tab" href="#model_tab_JSON">JSON eg.</a></li>
    <li class="pull-right"><a data-toggle="tab" href="#model_tab_help">Help</a></li>
	<li class="active pull-right"><a data-toggle="tab" href="#model_tab_options">Options</a></li>
    </ul>


    <div class="tab-content">

	<div role="tabpanel" id="model_tab_options" class="tab-pane fade in active">

	    <br>

	    <div class="form-field form-group">
		<label for="model_layer_title">Model title</label>
		<div style="display: none; margin-top: 5px; padding: 7.5px;" class="alert alert-danger" role="alert"> </div>
	    </div>

	    <div class="form-field form-group">
            
            <div >
				<label for="model_layer_title">Choose Model</label>
				<select id="models" name="models" class="form-control">

				</select>
				<button id="read_button">Read</button>
            </div>

	    </div>
	    <hr>
		<div id="input_parameters">
			
			
		</div>

	    <div class="form-field form-group">
	</div>
        
        <!--<label for="buffer_layer_distance">Buffer distance</label>
		<div class="form-inline">
		    <div class="form-group" style="width: 70%">
			  <input id="buffer_layer_distance" style="width: 100%" name="buffer_layer_distance" type="number" data-required="true" data-min_length="1" data-max_length="15" class="form-control" placeholder="">
		    </div>
		    <div class="form-group pull-right">
			<select id="buffer_layer_units" name="buffer_layer_units" class="form-control">
			    <option>kilometers</option>
			    <option>miles</option>
			</select>
		    </div>
		</div>
        <hr>
	    <div class="form-field form-group">
		<label for="buffer_layer_style">Style</label>
		<div class="form-inline well well-sm" style="">
		    <div class="form-group col-lg-3"  style="margin-top: 2px;">
			<b>Fill:</b> <input id="buffer_layer_style_fill" name="buffer_layer_style_fill" type="text" class="form-control" placeholder="">
		    </div>
		    <div class="form-group col-lg-5" style="margin-top: 2px;">
			<b>Outline:</b> <input  id="buffer_layer_style_outline" name="buffer_layer_style_outline" type="text" class="form-control" placeholder="">
		    </div>
		     <div class="form-group pull-right">
			<b>Outline width:</b> <input id="buffer_layer_style_outline_width" name="buffer_layer_style_outline_width" value="1" style="width: 60px;" type="number" class="form-control" placeholder="">
		    </div>
		    <div class="clearfix"></div>
		</div>
		<div style="display: none; margin-top: 5px; padding: 7.5px;" class="alert alert-danger" role="alert"> </div>
		
	    </div>-->
        
        

	</div>
    

	<div role="tabpanel" id="model_tab_help" class="tab-pane fade in">
	    <h5><b>Creates a new layer </b></h5>
						Available features are buffer, intersect, difference, combine.<br>
                        Need to select the model, based on selection possible layers will appear. After choosing the layer/layers user can hit create button to create the model.<br>
                        Distance for the buffer can be given otherwise model will create using default distance. 
                        
        <h5><b>User guidelines to create JSON file :</b></h5>
           <pre> 
             1) Type of functionality must be a string eg. buffer, intersect...
             2) The id must be an integer eg. 1, 2.
            <h6><b>parameters :</b></h6>
                1) Layer name must be string
                2) Buffer distance must be integer 
            </pre>
       
	</div>
        <div role="tabpanel" id="model_tab_JSON" class="tab-pane fade in">
        <h5><b>Json file example</b></h5>
        <pre>
                    "model_1" : [
                        {
                         "type": "buffer",
                         "id"  : 1,
                         "parameters" :{
                              "l1": "input_layer1",
                              "radius": {
                                "default_dist" : 200,
                                "user_defineable" : false,
                                "units" : "kilometres",
                                "dissolve" : true
                              }
                         }
                        }
                    ]
        </pre>
        
        </div>
	
    </div>

 
</form>
