<button enabled="enable" data-toggle="tooltip" data-placement="left" title="Create model" class="tool">
    <i class="fa fa-3x fa-play" aria-hidden="true"></i>
</button>

<form>

    <ul class="nav nav-tabs">
	<li><h4 style="">Model</h4></li>
	<li class="pull-right"><a data-toggle="tab" href="#tab_help">Help</a></li>
	<li class="active pull-right"><a data-toggle="tab" href="#tab_options">Options</a></li>
    </ul>

    <div class="tab-content">

	<div role="tabpanel" id="tab_options" class="tab-pane fade in active">

	    <br>

	    <div class="form-field form-group">
		<label for="model_layer_title">Model title</label>
		<div style="display: none; margin-top: 5px; padding: 7.5px;" class="alert alert-danger" role="alert"> </div>
	    </div>

	    <div class="form-field form-group">
            
            <div >
				<label for="model_layer_title">Select Model</label>
				<select id="models" name="models" class="form-control">

				</select>

            </div>

	    </div>
	    <hr>
		<div id="input_parameters">
			
			
		</div>

	    <div class="form-field form-group">
		
		<!--<label for="buffer_layer_style">Style</label>
		<div class="form-inline well well-sm" style="">
		    <div class="form-group col-lg-3"  style="margin-top: 2px;">
			<b>Fill:</b> <input id="buffer_layer_style_fill" name="buffer_layer_style_fill" type="text" class="form-control" placeholder="">
		    </div>
		    <div class="form-group col-lg-5" style="margin-top: 2px;">
			<b>Outline:</b> <input  id="buffer_layer_style_outline" name="buffer_layer_style_outline" type="text" class="form-control" placeholder="">
		    </div>
		     <div class="form-group pull-right">
			<b>Outline width:</b> <input id="buffer_layer_style_outline_width" name="buffer_layer_style_outline_width" value="1" style="width: 60px;" type="number" class="form-control" placeholder="">
		    </div>
		    <div class="clearfix"></div>
		</div>

		<div style="display: none; margin-top: 5px; padding: 7.5px;" class="alert alert-danger" role="alert"> </div>
		
	    </div>-->


	</div>

	<!--<div role="tabpanel" id="tab_help" class="tab-pane fade in">
	    <h5><b>Creates a new layer with the Buffer polygons.</b></h5>
						The user may select points, polygons or lines.
						Also, the user must fill in required fields: Layer name, layer title, Details (Buffer distance in milles or kilometers) and if it like to select the layer.
	</div>-->
	
    </div>   
 
</form>
